In [21]:
import pandas as pd
import numpy as np
import requests
import cv2
import matplotlib.pyplot as plt
import urllib.request

In [22]:
FileName = "images_file.csv"
FilePath = 'Images/'

df = pd.read_csv('project_data.csv')

In [23]:
df.User_Gender.describe()

count     1287
unique       2
top       Male
freq      1008
Name: User_Gender, dtype: object

In [24]:
df.User_Gender.isnull().sum()

1659

In [26]:
def get_gender(image_url, i):

    response = requests.get(image_url)
    image_name = FilePath + 'ImageNum' + str(i) + '.jpg'
#     jpg_images_name.append(image_name)
    with open(image_name, 'wb') as file:
        file.write(response.content)
   
    img = cv2.imread(image_name)
    final_gender = None

    gender = cv2.dnn.readNetFromCaffe("gender.prototxt","gender.caffemodel")
    detector_path = "haarcascade_frontalface_alt.xml"
    detector = cv2.CascadeClassifier(detector_path)
    faces = detector.detectMultiScale(img,1.3,5)
    if(len(faces)>0):
        x, y ,w, h = faces[0]
        detected_face = img[int(y):int(y+h), int(x):int(x+w)]
        plt.imshow(detected_face[:,:,::-1])
        detected_face = cv2.resize(detected_face,(224,224))
        detected_face_blob = cv2.dnn.blobFromImage(detected_face)
        gender.setInput(detected_face_blob)
        gender_result = gender.forward()
#         if(detected_face_blob.shape==224,224,3,1):
        if(np.argmax(gender_result[0])==0):
            final_gender = "Female"
        else:
            final_gender = "Male"
    return final_gender

In [ ]:
i = 1
for ind in df[df['User_Gender'].isnull()].index:
    img = df['User_img'][ind]
    image_url = str(img)

    gend = get_gender(image_url, i)
    if(gend!=None):
        df['User_Gender'][ind]=gend
    i = i + 1

In [28]:
df.User_Gender.isnull().sum()

1639

In [29]:
df.User_Gender.describe()

count     1307
unique       2
top       Male
freq      1022
Name: User_Gender, dtype: object

In [30]:
df

,Unnamed: 0,User_Name,User_img,User_url,Challange_Name,Programming_Lang,Sol_Code,User_Score,User's_Comments,User_Gender
0,0,TomGo,https://s3-us-west-1.amazonaws.com/coderbytepr...,/profile/TomGo,Min Window Substring,Java,import java.util.*; \nimport java.io.*;\n\ncla...,10,5,Male
1,1,jgrier,https://s3-us-west-1.amazonaws.com/coderbytepr...,/profile/jgrier,Min Window Substring,Java,import java.util.*; \nimport java.io.*;\n\ncla...,10,0,NaN
2,2,buddhaben,https://s3-us-west-1.amazonaws.com/coderbytepr...,/profile/buddhaben,Min Window Substring,Java,import java.util.*; \nimport java.io.*;\n\ncla...,9,0,Male
3,3,dumel20,https://s3-us-west-1.amazonaws.com/coderbytepr...,/profile/dumel20,Min Window Substring,Java,import java.util.*; \nimport java.io.*;\n\ncla...,10,0,NaN
4,4,sameerkhan2k1,https://s3-us-west-1.amazonaws.com/coderbytepr...,/profile/sameerkhan2k1,Min Window Substring,Java,import java.util.*; \nimport java.io.*;\n\ncla...,9,0,Male
...,...,...,...,...,...,...,...,...,...,...
2941,2941,mpalm1234,https://s3-us-west-1.amazonaws.com/coderbytepr...,/profile/mpalm1234,SQL Member Count,Swift,/* write your SQL query below */\n\nSELECT Rep...,10,0,NaN
2942,2942,mag31903034,https://s3-us-west-1.amazonaws.com/coderbytepr...,/profile/mag31903034,SQL Member Count,Swift,/* write your SQL query below */\nSELECT a.rep...,10,-1,NaN
2943,2943,Hucast734,https://s3-us-west-1.amazonaws.com/coderbytepr...,/profile/Hucast734,SQL Member Count,Swift,/* write your SQL query below */\nSELECT * FRO...,10,-1,NaN
2944,2944,Balaji468,https://s3-us-west-1.amazonaws.com/coderbytepr...,/profile/Balaji468,SQL Member Count,Swift,/* write your SQL query below */\n\n\nSELECT R...,10,-1,NaN
2945,2945,aragonne,https://s3-us-west-1.amazonaws.com/coderbytepr...,/profile/aragonne,SQL Member Count,Swift,/* write your SQL query below */\n\n# SELECT *...,10,-1,Male

In [50]:

df.to_csv("project_data.csv")

##