In [219]:
import pandas as pd

In [229]:
df = pd.read_csv('project_data.csv')
df=df.dropna()
syntax_df = pd.read_csv('Langs_Syntax.csv')
commands_list = syntax_df['Command']
syntax_df.set_index('Command')
syntax_df.head()

,Command,C,Python,Swift,PHP,Ruby,Go,JavaScript,Csharp,Python3,Java,Unnamed: 11,Unnamed: 12
0,Comments,// /*,"# """"""",// /*,// # /*,# =begin,// /*,// /*,// /*,"# """"""",// /*,NaN,NaN
1,Conditions,if if( case ?,if,if,if if(,if unless,if if( case,if if( case,if if( case,if,if if( case ?,NaN,NaN
2,else,else else{ else\n,else else: elif,else,else,else elseif,else else{ else\n,else else{ else\n,else else{ else\n,else else: elif,else else{ else\n,NaN,NaN
3,For,for for(,for,for,for for( oreach( foreach,for,for,for for(,for for(,for,for for(,NaN,NaN
4,While,while while(,while while(,while\n,while while(,while\n,NaN,while while(,while while(,while while(,while while(,NaN,NaN

In [230]:

print("num of rows:",df.shape[0])

num of rows: 1511

In [231]:
df[df['User_Gender']=='Female'].shape[0]

463

In [232]:
def find_lang_syntax(command,lang):
    syntax =[]
    Commands=syntax_df.loc[syntax_df['Command']==command, lang].to_string().split() ##finding comment syntax in c
    for com in Commands:
        syntax.append(com)

    return syntax

In [233]:
df

,User_Name,User_img,User_url,Challange_Name,Programming_Lang,Sol_Code,User_Score,User's_Comments,User_Gender
0,TomGo,https://s3-us-west-1.amazonaws.com/coderbytepr...,/profile/TomGo,Min Window Substring,Java,import java.util.*; \nimport java.io.*;\n\ncla...,10,5,Male
2,buddhaben,https://s3-us-west-1.amazonaws.com/coderbytepr...,/profile/buddhaben,Min Window Substring,Java,import java.util.*; \nimport java.io.*;\n\ncla...,9,0,Male
4,sameerkhan2k1,https://s3-us-west-1.amazonaws.com/coderbytepr...,/profile/sameerkhan2k1,Min Window Substring,Java,import java.util.*; \nimport java.io.*;\n\ncla...,9,0,Male
10,moe123,https://s3-us-west-1.amazonaws.com/coderbytepr...,/profile/moe123,Min Window Substring,Java,import java.util.*; \nimport java.io.*;\n\ncla...,9,0,Female
12,user60612276,https://s3-us-west-1.amazonaws.com/coderbytepr...,/profile/user60612276,Min Window Substring,Java,import java.util.*; \nimport java.io.*;\n\ncla...,9,0,Male
...,...,...,...,...,...,...,...,...,...
2926,bobsany16,https://s3-us-west-1.amazonaws.com/coderbytepr...,/profile/bobsany16,SQL Member Count,Swift,/* write your SQL query below */\n\nSELECT Rep...,10,0,Male
2927,DanushiW,https://s3-us-west-1.amazonaws.com/coderbytepr...,/profile/DanushiW,SQL Member Count,Swift,/* write your SQL query below */\n\nSELECT Rep...,10,0,Male
2930,selimfidan2314,https://s3-us-west-1.amazonaws.com/coderbytepr...,/profile/selimfidan2314,SQL Member Count,Swift,/* write your SQL query below */\n\nSELECT Rep...,10,0,Male
2934,tomldac,https://s3-us-west-1.amazonaws.com/coderbytepr...,/profile/tomldac,SQL Member Count,Swift,/* write your SQL query below */\n\nSELECT Rep...,10,0,Male
2945,aragonne,https://s3-us-west-1.amazonaws.com/coderbytepr...,/profile/aragonne,SQL Member Count,Swift,/* write your SQL query below */\n\n# SELECT *...,10,-1,Male

In [234]:

def count_commands(codes, lang, command):
    commands = find_lang_syntax(command, lang)
    counter = 0 # count num of comments
    codes = codes.loc[codes['Programming_Lang']==lang]
    for code in codes['Sol_Code']: #for every code in c
        string = '' #cleaning the word
        for letter in code.split(): #for every letter in the code
            string = string+letter #add to word
            i = 1
            while (i < len(commands)): #for every diff syntax
#                 if i==0: i+=1
                try:
                    if(letter==commands[i] and len(letter)>1): #check equality
                        counter +=1
                        break
                except IndexError:
                    pass
                i +=1

    return counter

In [235]:
syntax_dict = {'Gender': ['Female', 'Male']}
langs = syntax_df.columns.to_list()
type(langs)
for j in range(len(commands_list)):
       
    Female_Counter = 0
    Male_Counter = 0
    command = commands_list[j]   
    for i in range(len(langs)):

        lang = langs[i]
        codes = df.loc[df['Programming_Lang']==lang]
        Female_code = codes.loc[codes['User_Gender']=='Female']
        Male_code = codes.loc[codes['User_Gender']=='Male']

        Female_Counter += count_commands(Female_code, lang, command)
        Male_Counter += count_commands(Male_code, lang, command)
       
            
    Female_Count = Female_Counter/(df[df['User_Gender']=='Female'].shape[0])
    Male_Count = Male_Counter/(df[df['User_Gender']=='Male'].shape[0])
    syntax_dict[command] = Female_Count, Male_Count

In [236]:

syntax_df = pd.DataFrame(syntax_dict)
syntax_df

,Gender,Comments,Conditions,else,For,While,do ... while,Func dec,Func Calling,Varibales Dec,Pointers,Data Structures,Start and Ending funcs,Recursive
0,Female,1.250540,1.501080,0.580994,0.652268,0.062635,0.004320,0.848812,0.0,0.066955,0.023758,0.047516,0.00216,0.0
1,Male,1.078244,1.359733,0.451336,0.710878,0.049618,0.002863,0.956107,0.0,0.180344,0.005725,0.041985,0.00000,0.0